* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}
html {
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
body > header {
  max-height: 20vh;
  position: relative;
  background-color: gold;
  padding: 1rem;
}
.headtext {
  display: inline-block;
}
h1 {
  font-size: 3rem;
  margin: 0;
}

header p {
  font-size: 1.5rem;
  margin: 0;
}

button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: 0.2rem solid black;
  font-size: 2rem;
}

main {
  border: 5px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  font-size: 5rem;
}
